@page "/Login"

@inject IHttpClientFactory httpClientFactory
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@inject ILocalStorageService localStorageService 
@inject AuthenticationStateProvider authenticationStateProvider
@inject LoginService LoginService

@layout CosmosLayout

@code {
    private string? httpResponseErrorMessage;
    private LoginDto loginDto = new();

    private string? AlertVisibleClass => string.IsNullOrEmpty(httpResponseErrorMessage) ? "invisible" : "visible";

    private async Task OnLoginFormValidSubmit()
    {
        httpResponseErrorMessage = null;

        try
        {
            if (authenticationStateProvider is JwtAuthenticationStateProvider jwtProvider)
            {
                await LoginService.LoginAsync(loginDto);
            }
            else
            {
                throw new InvalidOperationException("Authentication provider is not of type JwtAuthenticationStateProvider.");
            } 
        }
        catch (Exception ex)
        {
            httpResponseErrorMessage = ex.Message;
        }
    }
}

<PageTitle>Login</PageTitle>

<div class="container">
    <a href="/" class="back-link"><i class="fas fa-arrow-left"></i></a>
    <div class="wrapper">
        <div class="title"><span>Login Form</span></div>

        <EditForm Model="loginDto" OnValidSubmit="OnLoginFormValidSubmit" class="editform">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="@AlertVisibleClass alert alert-danger" role="alert">
                @httpResponseErrorMessage
            </div>

            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    <input type="text" class="form-control" placeholder="Username or Email"
                        @bind-value="loginDto.LoginIdentifier" required>
                </div>
            </div>

            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    <input type="password" class="form-control" placeholder="Password" @bind-value="loginDto.Password"
                        required>
                </div>
            </div>

            <div class="d-grid">
                <input type="submit" class="btn btn-primary" value="Sign in">
            </div>
            <div class="text-center mt-3">
                Not a member? <a href="/Registration">Signup now</a>
            </div>
        </EditForm>
    </div>
</div>

<style>
    body {
        overflow: hidden;
    }

    .back-link {
        position: absolute;
        top: 20px;
        left: 20px;
        color: #ffffff;
        text-decoration: none;
        font-size: 35px;
    }

    .container {
        max-width: 540px;
        padding: 40px;
        margin: 150px auto;
    }

    .wrapper {
        width: 100%;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.178);
        transition: 0.3s;
    }

    .wrapper:hover {
        box-shadow: 0 0 10px #ac0808cc;
    }

    .wrapper .title {
        height: 90px;
        background: #1662a0;
        border-radius: 5px 5px 0 0;
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrapper .editform {
        padding: 10px 25px 25px 25px;
    }

    .wrapper .editform .input-group {
        margin-bottom: 15px;
    }

    .wrapper .editform .input-group .form-control:focus {
        border-color: #1662a0;
        box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
    }

    .wrapper .editform .input-group .input-group-text {
        background: #1662a0;
        color: #fff;
        border: 1px solid #1662a0;
    }

    .wrapper .editform .input-group .input-group-text i {
        font-size: 18px;
    }

    .wrapper .editform .btn-primary {
        background: #1662a0;
        border: 1px solid #1662a0;
    }

    .wrapper .editform .btn-primary:hover {
        background: #0f6bb6e5;
    }

    .text-center a {
        color: #1662a0;
        text-decoration: none;
    }

    .text-center a:hover {
        text-decoration: underline;
    }

    .text-danger {
        font-size: 14px;
    }
</style>
