<footer class="footer">
    <div class="section_container footer_container">
        <div class="footer_logo">
            <img src="../Assets/logo-white.png" alt="logo" />
        </div>
        <div class="footer_content">
            <p>
                Welcome to TasteTrail, where a love for exceptional cuisine and heartfelt hospitality converge. Our
                story is a journey of dedication to creating unforgettable dining experiences, from selecting the
                highest quality ingredients to serving dishes that delight in every bite. Join us and savor the
                passion we pour into every meal as we bring you a taste of excellence and a commitment to culinary
                perfection.
            </p>
            <div>
                <ul class="footer_links">
                    <li>
                        <span><i class="ri-map-pin-2-fill"></i></span>
                        MG Road, Bangalore, 500089
                    </li>
                    <li>
                        <span><i class="ri-mail-fill"></i></span>
                        info@tasteTrail.com
                    </li>
                </ul>
                <div class="footer_socials">
                    <a href="#"><i class="ri-facebook-circle-fill"></i></a>
                    <a href="#"><i class="ri-instagram-fill"></i></a>
                    <a href="#"><i class="ri-twitter-fill"></i></a>
                    <a href="#"><i class="ri-whatsapp-fill"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
