@page "/MenuItem/Create"
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>Create MenuItem</PageTitle>

@code {

    private MenuItem NewMenuItem = new MenuItem(); 
    private async Task CreateMenuItem()
    {
        var response = await Http.PostAsJsonAsync("api/menuItem", NewMenuItem);
        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/MenuItem");
        }
        else
        {
            // Handle error
        }
    }
}

<div class="container h-100 mb-5">
    <h1>Create New MenuItem</h1>

    <form @onsubmit="CreateMenuItem" class="createForm">

        <div>
            <label for="Name">Menu Item Name:</label>
            <InputText for="Name" type="text" @bind-Value="NewMenuItem.Name" />
        </div>
        <div>
            <label for="PopularityRate">Popularity Rate:</label>
            <InputNumber for="PopularityRate" @bind-Value="NewMenuItem.PopularityRate" hidden />
            <div class="rating" data-rating="0">
                <span class="text-warning">
                    <i class="far fa-star star" data-value="1"></i>
                    <i class="far fa-star star" data-value="2"></i>
                    <i class="far fa-star star" data-value="3"></i>
                    <i class="far fa-star star" data-value="4"></i>
                    <i class="far fa-star star" data-value="5"></i>
                </span>
                <span class="badge bg-secondary ms-2">0</span>
            </div>
        </div>
        <div>
            <label for="Price">Price:</label>
            <InputNumber for="Price" @bind-Value="NewMenuItem.Price" />
        </div>
        <div>
            <label for="Description">Description:</label>
            <InputTextArea for="Description" @bind-Value="NewMenuItem.Name" />
        </div>



        <button type="submit" class="btn btn-primary">Add MenuItem</button>
    </form>
</div>

<style>
    .createForm div {
        margin-bottom: 15px;
    }

    .createForm .row {
        height: 45px;
        margin-bottom: 15px;
        position: relative;
    }

    .createForm div label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .createForm div input[type="text"],
    .createForm div input[type="number"],
    .createForm div textarea {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .createForm button {
        background-color: #5cb85c;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 4px;
        cursor: pointer;
    }

    .createForm button:hover {
        background-color: #4cae4c;
    }
</style>
