@page "/Registration"
@inject IHttpClientFactory httpClientFactory
@inject NavigationManager navigationManager 
@inject IJSRuntime jsRuntime
@inject ILocalStorageService localStorageService
@inject AuthenticationStateProvider authenticationStateProvider
@layout EmptyLayout

@code {
    private string? httpResponseErrorMessage;
    public string? AlertVisibleClass => string.IsNullOrEmpty(httpResponseErrorMessage) ? "invisible" : "visible";

    public class RegistrationDto
    {
        [Required]
        public string Name { get; set; } = string.Empty;

        [Required, EmailAddress]
        public string Email { get; set; } = string.Empty;

        [Required]
        public string Password { get; set; } = string.Empty;
    }

    public RegistrationDto registrationDto { get; set; } = new();

    public async Task OnRegistrationFormValidSubmit()
    {
        httpResponseErrorMessage = null;
        var httpClient = httpClientFactory.CreateClient("BlazorPolicy");

        var registrationHttpResponse = await httpClient.PostAsJsonAsync("/api/Authentication/Registration", registrationDto);

        if (!registrationHttpResponse.IsSuccessStatusCode)
        {
            httpResponseErrorMessage = await registrationHttpResponse.Content.ReadAsStringAsync();
                        Console.WriteLine(httpResponseErrorMessage); // Логирование ошибки

            return;
        }

        navigationManager.NavigateTo("/Login", true);
    }
}

<PageTitle>Registration</PageTitle>

<div class="container">
    <a href="/" class="back-link"><i class="fas fa-arrow-left"></i></a>
    <div class="wrapper">
        <div class="title"><span>Registration Form</span></div>

        <EditForm Model="registrationDto" OnValidSubmit="OnRegistrationFormValidSubmit" class="editform">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="@AlertVisibleClass alert alert-danger" role="alert">
                @httpResponseErrorMessage
            </div>

            <div class="mb-3">
                <span class="text-danger"></span>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    <input type="text" class="form-control" placeholder="Name" @bind-value=registrationDto.Name required>
                </div>
            </div>

            <div class="mb-3">
                <span class="text-danger"></span>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    <input type="email" class="form-control" placeholder="Email" @bind-value=registrationDto.Email required>
                </div>
            </div>

            <div class="mb-3">
                <span class="text-danger"></span>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    <input type="password" class="form-control" placeholder="Password" @bind-value=registrationDto.Password required>
                </div>
            </div>

            <div class="d-grid">
                <input type="submit" class="btn btn-primary" value="Sign up">
            </div>
            <div class="text-center mt-3">
                Have an account? <a href="/Login">Login now</a>
            </div>
        </EditForm>
    </div>
</div>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    body {
        overflow: hidden;
    }

    .back-link {
        position: absolute;
        top: 20px;
        left: 20px;
        color: #ffffff;
        text-decoration: none;
        font-size: 35px;
    }

    .back-link:hover {
        text-decoration: underline;
    }

    ::selection {
        background: rgba(26, 188, 156, 0.3);
    }

    .container {
        max-width: 540px;
        padding: 40px;
        margin: 200px auto;
    }

    .wrapper {
        width: 100%;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
        transition: 0.3s;
    }

    .wrapper:hover {
        box-shadow: 0 0 10px #ac0808cc;
    }

    .wrapper .title {
        height: 90px;
        background: #1662a0;
        border-radius: 5px 5px 0 0;
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrapper .editform {
        padding: 25px;
    }

    .wrapper .editform .input-group {
        margin-bottom: 15px;
    }

    .wrapper .editform .input-group .form-control:focus {
        border-color: #16a085;
        box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
    }

    .wrapper .editform .input-group .input-group-text {
        background: #1662a0;
        color: #fff;
        border: 1px solid #1662a0;
    }

    .wrapper .editform .input-group .input-group-text i {
        font-size: 18px;
    }

    .wrapper .editform .btn-primary {
        background: #1662a0;
        border: 1px solid #1662a0;
    }

    .wrapper .editform .btn-primary:hover {
        background: #0f6bb6e5;
    }

    .text-center a {
        color: #1662a0;
        text-decoration: none;
    }

    .text-center a:hover {
        text-decoration: underline;
    }

    .text-danger {
        font-size: 14px;
    }

    .alert {
        transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .visible {
        visibility: visible;
        opacity: 1;
    }

    .invisible {
        visibility: hidden;
        opacity: 0;
    }
</style>
